# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Operating System
.DS_Store
Thumbs.db

# Output files
*.jpg

#PDF files
*.pdf

# Logs
*.log

# Temporary files
*.tmp
